@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/chart.js" asp-append-version="true"></script>

<form>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="">Lump Sum Investment (£)</label>
                <input type="number" class="form-control" id="lumpSumInvestment" placeholder="e.g. 1000">
                <small id="lumpSumInvestmentHelp" class="form-text text-muted">This is your initial investment amount.</small>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="monthlyInvestment">Monthly Investment (£)</label>
                <input type="number" class="form-control" id="monthlyInvestment" placeholder="e.g. 100">
                <small id="monthlyInvestmentHelp" class="form-text text-muted">This is the amount you will continue to invest each month.</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="targetValue">Target Value (£)</label>
                <input type="number" class="form-control" id="targetValue" placeholder="e.g. 3000">
                <small id="targetValueHelp" class="form-text text-muted">This is the value you aim to reach at the end of the provided time scale.</small>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="timeScale">Time Scale (years)</label>
                <input type="number" class="form-control" id="timeScale" placeholder="e.g 10">
                <small id="timeScaleHelp" class="form-text text-muted">The time scale for your investment e.g 5 years.</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="riskLevel">Accepted Risk Level</label>
                <select class="form-control" id="riskLevel">
                    <option>Low</option>
                    <option>Medium</option>
                    <option>High</option>
                </select>
                <small id="riskLevelHelp" class="form-text text-muted">The level of risk you are willing to accept. This will potentially impact your earnings.</small>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <button type="button" id="drawButton" class="btn btn-primary">Draw</button>
            </div>
        </div>
    </div>
</form>


<div class="text-center">
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
</div>
